name: Project | TODO to Issue

on:
  push:
    branches: [main]

jobs:
  create-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: TODO to Issue
        uses: alstr/todo-to-issue-action@v5.1.13
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLOSE_ISSUES: true
          AUTO_ASSIGN: true
          INSERT_ISSUE_URLS: "true"

      - name: Set Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and Push Changes
        run: |
          git add -A
          if [[ `git status --porcelain` ]]; then
            git commit -m "Automatically added GitHub issue links to TODOs"
            git push
          else
            echo "No changes to commit"
          fi
